<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>Incasari</title>
</head>
<body>
<div class="container">
    <h1>Inregistreaza o noua operatie</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Homepage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/operatie_noua">Operatie noua</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <form action = "/inregistreaza_operatie">
     <div class="mb-3">
      <label class="form-label">Tip operatie</label>
      <select class="form-select" name = "tip_operatie">
        <option value="incasare" selected>Incasare</option>
        <option value="cheltuiala">Cheltuiala</option>
    </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Valoare</label>
      <input required type="text" class="form-control" name="valoare" placeholder="10.00">
    </div>
   <div class="form-group row">
   <label class="col-2 col-form-label">Data operatie</label>
   <div class="col-3">
    <input required class="form-control" type="date" value="{{data_curenta}}" name = "data_operatie">
    <br>
  </div>

  </div>
    <br>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Inregistreaza operatie</button>
    </div>
    </form>
</div>
</body>
</html>