<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adauga un nou autor</title>
</head>
<body>
<a href="/">Homepage</a>
<a href="/adauga_articol">Adauga un nou articol</a>
<h2>Adauga un nou autor in aplicatie</h2>
<form action="/adauga_autor" method="POST">
  <label>Nume:</label><br>
  <input type="text" name="nume" placeholder="Nume"><br>
  <label>Prenume:</label><br>
  <input type="text" name="prenume" placeholder="Prenume"><br><br>
  <input type="submit" value="Adauga autor">
</form>
</body>
</html>